.gamezone{
     background: #FAFAEB;
     
     height: 100vh;
  
    
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(6,1fr);
}
.gamezone-board{
   grid-row-start: 1;
   grid-row-end: 7;
   grid-column-start: 1;
   grid-column-end: 8;
   height: 80%;
   
}
.gamezone-infoboard{
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 7;
  grid-column-end: 10;
  
}